.aboutMe {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.leftContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    max-width: 40rem;
}

.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

img {
    border-radius: 50%;
    max-width: 25rem;
}

.sectionTitle {
    color: #ffffff;
    font-size: 2rem;
}

.titleNumber {
    color: #80ffff;
}

.bodyText {
    color: #ffffff;
}

.listOneHeader {
    color: #ffffff;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    color: #ffffff;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 1rem;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 4rem;
}

.dice {
    width: 1rem;
    height: 1rem;
}

.bulletLine {
    margin-top: 1rem;
}

.whatImWorkingWithLately {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.photo {
    margin-left: 2rem;
}