.portfolio {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sectionHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.sectionTitle {
    color: #ffffff;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.titleNumber {
    color: #80ffff;
    font-size: 2rem;
}